<mdb-navbar
  SideClass="navbar navbar-expand-lg fixed-top navbar-light white ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="http://thebuffalogroup.com/">
        <img src="./assets/images/TheBuffaloGroup.png" class="image-brand">
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item waves-light one" mdbWavesEffect>
        <a class="nav-link one">Home</a>
      </li>
      <li class="nav-item waves-light two" mdbWavesEffect>
        <a class="nav-link">Services</a>
      </li>
      <li class="nav-item waves-light two" mdbWavesEffect>
          <a class="nav-link">Contracts</a>
        </li>
      <li class="nav-item waves-light two" mdbWavesEffect>
         <a class="nav-link">Employee Portal</a>
      </li>
      <li class="nav-item waves-light two" mdbWavesEffect>
        <a class="nav-link">Careers</a>
      </li>
      <!-- <li class="nav-item waves-light two" mdbWavesEffect>
          <a class="nav-link">Contact</a>
      </li> -->
    </ul>
  </links>
</mdb-navbar>