.parallax-1 {
    // min-height: 520px;
    padding: 200px 0;
    background: transparent;
}

.parallax-2 {
    // min-height: 640px;
    padding: 200px 20px 200px 20px;
    background: transparent;
}


.parallax-3 {
    // min-height: 400px;
    margin: 30px;
    padding: 100px 20px 80px 20px;
    background: transparent;
}

.parallax-1-title {
    // background-color: #000000;
    // opacity: 0.6;
    z-index: 2;
    position: relative;
    text-align: center;
    // margin-top: 50%;
    color: #ffffff;
    padding: 20px 80px;
}

.parallax-1-title-b {
    background-color: #000000;
    opacity: 0.6;
    z-index: 2;
    position:absolute;
  top:50%;
    color: #ffffff;
    padding: 20px 80px;
}

.textbox {
    background: #f4f4f4;
    padding: 50px 80px;
}

.parallax-2-title {
    z-index: 2;
    position: relative;
    color: #ffffff;
    padding: 20px 80px;
}


.tbg-leaders {
    z-index: 2;
    position: relative;
}



.ptext{
    // position:absolute;
    // top:50%;
    width:100%;
    text-align:center;
    color:#000;
    opacity: 0.7;
    font-size:27px;
    letter-spacing:4px;
    // text-transform:uppercase;
}
  
  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }

  @media only screen and (max-width: 768px) {
    .ptext{
        // position:absolute;
        // top:50%;
        width:100%;
        text-align:center;
        color:#000;
        opacity: 0.7;
        font-size:16px;
        letter-spacing:1px;
        // text-transform:uppercase;
    }
    .parallax-2-title {
        z-index: 2;
        position: relative;
        color: #ffffff;
        padding: 20px 20px;
    }

  }