<section>
  <div class="parallax-1" data-parallax="scroll" data-z-index="1" data-image-src="./assets/images/buffalo.jpg">
    <div class="parallax-1-title">
    <h1>IT, Software Development, Cybersecurity.</h1>
    <!-- <p>The Buffalo Group provides innovative capabilities and extensive domain knowledge to both Federal and Commercial Clients in order to operate more efficiently and effectively.<br />
       Leveraging our team’s expertise, proven industry practices, and leading edge technologies, we ensure that your return on investment is maximized. Our culture of complete commitment to customers is based upon a thorough understanding of your needs and expectations which results in a flexible and agile delivery model aimed at success.</p> -->
    </div>
  </div>
  <div class="textbox">
      <h4 style="color: #CC0000; font-weight: 400"> The Buffalo Group</h4>
      <p>
    <p>Provides innovative capabilities and extensive domain knowledge to both Federal and Commercial Clients in order to operate more efficiently and effectively.<br /> Leveraging our team’s expertise, proven industry practices, and leading edge technologies, we ensure that your return on investment is maximized.<br /> Our culture of complete commitment to customers is based upon a thorough understanding of your needs and expectations which results in a flexible and agile delivery model aimed at success.</p>
  </div>  
  <div class="parallax-2" data-parallax="scroll" data-z-index="1" data-image-src="./assets/images/itsecurity.jpg">
    <div class="parallax-2-title ptext">
        <span class="border">
            IT and cyber-challenges
        </span>
      </div>
    <!-- <h2 class="ptext">Innovative and effective solutions addressing complex IT and cyber-challenges.</h2> -->
    <!-- <img class="title" src="./assets/images/whoweare.JPG"/> -->
  </div>
  <div>
    <!--Projects section v.4-->
<section class="textbox pb-3">

    <!--Section heading-->
    <h2 class="text-center font-weight-bold h3 pt-4 pb-3">
      <strong>Government Contracts</strong>
    </h2>
    <!--Section description-->
    <div>
        <h4 style="color: #CC0000; font-weight: 400"> The Buffalo Group</h4>
        <p>
      <p>Has had the honor of working with a variety of distinguished customers as a Prime Contractor and as a valued Subcontractor. Below are listed a partial sampling of our Prime Contracts and Subcontracts.</p>
    </div>
  
    <!--Grid row-->
    <div class="row">
  
      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="card card-image" style="background-image: url(./assets/images/satelite.jpg);">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
            <div>
              <h6 class="purple-text">
                <i class="fa fa-plane"></i>
                <strong> Intelligence</strong>
              </h6>
              <h3 class="py-3 font-weight-bold">
                <strong>Intelligence and Analytics</strong>
              </h3>
              <p class="pb-3">We are a highly experienced capability developer and provider for analytic solutions in support of both the Federal and Commercial sectors.
              </p>
              <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                <i class="fa fa-clone left"></i> View project</a>
            </div>
          </div>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">
          <div class="card card-image" style="background-image: url(./assets/images/servers.jpg);">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
              <div>
                <h6 class="green-text">
                  <i class="fa fa-eye"></i>
                  <strong> IT</strong>
                </h6>
                <h3 class="py-3 font-weight-bold">
                  <strong>Information Technology</strong>
                </h3>
                <p class="pb-3">Innovative and assured information technology strategies and effective solutions to address complex IT and cyber-challenges.
                </p>
                <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                  <i class="fa fa-clone left"></i> View project</a>
              </div>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
      <div class="col-md-4 mb-4">
          <div class="card card-image" style="background-image: url(./assets/images/linguists.jpg);">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
              <div>
                <h6 class="purple-text">
                  <i class="fa fa-plane"></i>
                  <strong> Language Services</strong>
                </h6>
                <h3 class="py-3 font-weight-bold">
                  <strong>Languages and Cultures</strong>
                </h3>
                <p class="pb-3">Providing U.S. Special Forces foreign language and cultural training to ensuring our highest courts receive accurate and contextual interpretation.
                </p>
                <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                  <i class="fa fa-clone left"></i> View project</a>
              </div>
            </div>
          </div>
        </div>
        <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg);">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
            <div>
              <h6 class="pink-text">
                <i class="fa fa-pie-chart"></i>
                <strong> Supports</strong>
              </h6>
              <h3 class="py-3 font-weight-bold">
                <strong>Operational Support and Logistics</strong>
              </h3>
              <p class="pb-3">Whether in the United States or across the globe, our team stands ready to quickly develop a dependable self-sustaining solution and deliver a trained and dependable workforce leveraging state of the art technologies for efficiency.
              </p>
              <a mdbBtn color="pink" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                <i class="fa fa-clone left"></i> View project</a>
            </div>
          </div>
        </div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg);">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
            <div>
              <h6 class="green-text">
                <i class="fa fa-eye"></i>
                <strong> SeaPort-e</strong>
              </h6>
              <h3 class="py-3 font-weight-bold">
                <strong>Navy's electronic platform</strong>
              </h3>
              <p class="pb-3">SeaPort-e is the Navy's electronic platform for acquiring support services in 22 functional areas including Engineering, Financial Management, and Program Management.
              </p>
              <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                <i class="fa fa-clone left"></i> View project</a>
            </div>
          </div>
        </div>
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Projects section v.4-->
  </div>
  
    <div class="parallax-2" data-parallax="scroll" data-z-index="1" data-image-src="./assets/images/controlroom.jpg">
      <div class="parallax-2-title ptext">
          <span class="border">
              Innovative and effective solutions
          </span>
        </div>
      <!-- <h2 class="parallax-2-title">Innovative and effective solutions addressing complex IT and cyber-challenges.</h2> -->
      <!-- <img class="title" src="./assets/images/whoweare.JPG"/> -->
    </div>
    <div class="textbox">
        <h4 style="color: #CC0000; font-weight: 400"> The Buffalo Group</h4>
        <p>
      <p>Have experience employing the Information Technology Infrastructure Library (ITIL) Service Management Framework to guide the provisioning of services, processes and functions for our customers. We’ve delivered Information Technology Service Management (ITSM) services across the entire ITIL spectrum including service operation, service design, service transition, service strategy, service transition, and continual service improvement.</p>
    </div>
    
    <div>
        <img class="title" src="./assets/images/whoweare.JPG"/>
    </div>  
      
    <div class="parallax-2" data-parallax="scroll" data-z-index="1" data-image-src="./assets/images/footer.JPG">
    </div>
    
</section>