.parallax-1 {
    // min-height: 520px;
    padding: 15% 0;
    background: transparent;
}

.parallax-2 {
    // min-height: 640px;
    padding: 280px 20px;
    background: transparent;
}


.parallax-3 {
    // min-height: 400px;
    margin: 30px;
    padding: 100px 20px 80px 20px;
    background: transparent;
}

.parallax-1-title {
    // background-color: #000000;
    // opacity: 0.6;
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing:4px;
    z-index: 2;
    position: relative;
    text-align: center;
    // margin-top: 50%;
    color: #ffffff;
    padding: 20px 80px;
}

.parallax-1-title-b {
    background-color: #000000;
    opacity: 0.6;
    z-index: 2;
    position:absolute;
  top:50%;
    color: #ffffff;
    padding: 20px 80px;
}

.textbox {
    background: #f4f4f4;
    padding: 50px 80px;
}

.parallax-2-title {
    z-index: 2;
    position: relative;
    color: #ffffff;
    padding: 20px 80px;
}


.tbg-leaders {
    width: 100%;
    height: 110%;
    text-align: center;
}

.ptext{
    // position:absolute;
    // top:50%;
    width:100%;
    text-align:center;
    color:#000;
    opacity: 0.7;
    font-size:27px;
    letter-spacing:1px;
    // text-transform:uppercase;
}

.card-image {
    height: 22em;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.card-image:hover {
	-webkit-transform: scale(1.025);
	transform: scale(1.025);
}

.rgba-black-strong {
    opacity: .8;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.rgba-black-strong:hover {
	opacity: 1;
}


  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }

  @media only screen and (max-width: 768px) {
    .parallax-1 {
        // min-height: 520px;
        padding: 100px 0px 60px 0px;
        background: transparent;
    }

    .parallax-2 {
        // min-height: 640px;
        padding: 80px 20px;
        background: transparent;
    }
    
    .parallax-3 {
        // min-height: 400px;
        margin: 30px;
        padding: 80px 20px 60px 20px;
        background: transparent;
    }
    .parallax-1-title {
        // background-color: #000000;
        // opacity: 0.6;
        font-size:24px !important;
        font-weight: 500;
        letter-spacing:1px;
        z-index: 2;
        position: relative;
        text-align: center;
        // margin-top: 50%;
        color: #ffffff;
        padding: 20px 20px;
    }

    .textbox {
        background: #f4f4f4;
        padding: 50px 20px;
    }
    h2 {
        font-size: 24px!important;
    }

    h3 {
        font-size: 20px!important;
    }
    .ptext{
        // position:absolute;
        // top:50%;
        width:100%;
        text-align:center;
        color:#000;
        opacity: 0.7;
        font-size:16px;
        letter-spacing:1px;
        // text-transform:uppercase;
    }
    .parallax-2-title {
        z-index: 2;
        position: relative;
        color: #ffffff;
        padding: 20px 20px;
    }

  }